/* General body styling */
body {
    background-color: #f4f7f6;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Container styling */
.container {
    text-align: center;
}

/* Center the post response container */
.scroll-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Post styling */
.post {
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.post-header {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.image-container, .video-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-container img, .video-container video {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.content-text {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

.post-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.button-container {
    display: flex;
    align-items: center;
}

.btn-like, .btn-dislike, .btn-save {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em; /* Adjust icon size */
    color: #6c757d;
    padding: 5px;
    transition: color 0.3s ease;
}

.btn-like:hover, .btn-dislike:hover, .btn-save:hover {
    color: #007BFF; /* Change color on hover */
}

.like-count, .dislike-count, .save-count {
    margin-left: 5px;
    font-size: 0.9em;
    color: #666;
}

.user-info {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.user-info a {
    text-decoration: none;
    color: #000; /* Black color */
    font-weight: normal; /* Normal weight */
    transition: color 0.3s ease, font-weight 0.3s ease; /* Smooth transition */
}

.user-info a:hover {
    color: #28a745; /* Green color on hover */
    font-weight: bold; /* Bold on hover */
    text-decoration: none; /* Remove underline */
}
