/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    padding: 20px;*/
/*}*/




.add-page-button:hover {
    background-color: forestgreen;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Center items horizontally */
    align-items: center; /* Align items vertically centered */
    margin-bottom: 20px; /* Space between header and list */
    gap: 20px; /* Space between heading and button */
}


.header-container h1 {
    margin: 0; /* Remove default margin for consistent alignment */
}

.custom-cards-container {
    display: flex;
    justify-content: center; /* Center align items horizontally */
}

.add-page-button {
    margin-top: 10px; /* Space between heading and button */
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.add-page-button:hover {
    background-color: #45a049;
}

.custom-page-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Adjusted to start from the left */
    gap: 20px; /* Adds gap between cards */
}

.custom-page-item {
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More noticeable shadow */
    padding: 20px;
    width: calc(33.33% - 20px); /* Adjust width to fit 3 cards per row */
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
}

.custom-page-item h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.custom-page-item p {
    font-size: 16px;
    margin-bottom: 12px;
}

.custom-page-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.custom-page-author {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.custom-page-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-go-to-button {
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.custom-go-to-button:hover {
    background-color: forestgreen;
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
    .custom-page-item {
        width: calc(48% - 20px); /* Adjust width to fit 2 cards per row on medium screens */
    }
}

@media screen and (max-width: 768px) {
    .custom-page-item {
        width: calc(100% - 20px); /* Adjust width to fit 1 card per row on smaller screens */
    }
}

.custom-page-item-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
    display: block; /* Make the link cover the entire .custom-page-item */
}
