.user-history{
    gap: 20px;
}

.login-details-container {
    flex: 0.3;
}


.second{
    flex: 0.7;
}

.login-extra-details{
    gap: 25px;
}

.login-extra-details div{
    padding: 10px;
    flex-basis: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 25px;
}


.custom-card1 {
    width: 18rem;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    border: 1px solid #dee2e6; /* Add a border color that matches Bootstrap's default */
}

.custom-card1 .card-body {
    padding-top: 25px;
}