{% extends "base.html" %}

{% block title %}Post Responses - Enviro Chat{% endblock %}

{% block content %}
    <h1>Post Responses</h1>
    {% for post in posts %}
        <div class="post">
            <div class="post-content">
                <p>{{ post.content }}</p>
                {% if post.image %}
                    <img src="media/{{ post.image.url }}" alt="Uploaded Image">
                {% endif %}
                {% if post.video %}
                    <video controls>
                        <source src="{{ post.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            </div>
            <div class="post-buttons">
                <button>Upvote</button>
                <button>Downvote</button>
            </div>
        </div>
    {% endfor %}
{% endblock %}





