<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="auto">

<head>
    <meta name="viewport" content="width=device-width, initial-scale= 1" charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

{#<div class="container-fluid">#}
{#        <div class="d-flex justify-content-between align-items-center">#}
{#            <h1 class="mb-0">#}
{#                <a href="{% url 'myapp:home' %}">#}
{#                    <img src="{% static 'image-logo.jpg' %}" alt="EnviroChat" style="width:370px;height:128px;">#}
{#                </a>#}
{#            </h1>#}
{#            <div class="d-flex">#}
{#                <a href="{% url 'myapp:home' %}" class="btn btn-success me-2">Home</a>#}
{#                <a href="#" class="btn btn-success me-2">Events</a>#}
{#                <a href="#" class="btn btn-success me-2">Trending</a>#}
{#                <a href="#" class="btn btn-success me-2">Contribute</a>#}
{#                <a href="#" class="btn btn-success me-2">Login/Signup</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

<div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">
                <a href="{% url 'myapp:home' %}">
                    <img src="{% static 'image-logo.jpg' %}" alt="EnviroChat" style="width:370px;height:128px;">
                </a>
            </h1>
            <div class="d-flex">
                    <!-- Button to toggle Offcanvas Sidebar -->
{#                <div class="notification-icon position-absolute">#}
{#                      <a href="{% url 'accounts:notifications' %}"#}
{#                        class="icon-button position-relative d-flex align-items-center justify-content-center" id="notificationdrop">#}
{#                        <span class="material-symbols-outlined notification-svg">#}
{#                          notifications#}
{#                        </span>#}
{#                        <span class="icon-button__badge">{% live_notify_badge %}</span>#}
{#                      </a>#}
{#                </div>#}
                <a href="{% url 'myapp:home' %}" style="font-family: 'Berlin Sans FB',serif" class="btn btn-success me-2 align-content-center">Home</a>
                <button style="font-family: 'Berlin Sans FB',serif" class="btn btn-success align-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    Menu
                </button>
{#                {% if user.is_authenticated %} should be used only once user is logged in#}
                <div class="profile-pic-container dropdown">
                    <button class="profile-img " style=""><img src="{% static 'login.png' %}" style="width: 40px; height: 40px" alt="Profile"></button>
{#                        <img src="{% static 'login.png' %}" style="width: 40px; height: 40px" alt="Profile">#}
                        {% if user.is_authenticated%}
                        <div class="dropdown-content">
                            <ul>
{#                                <li><a class="dropdown-item py-2 d-flex align-items-center" href="#"><span class="material-symbols-outlined"#}
{#                                                                                                           style="padding-right: 10px">Update</span>Update Profile</a></li>#}
                                <li><a class="dropdown-item py-2 d-flex align-items-center" href="{% url 'myapp:myvideos' %}"><span class="material-symbols-outlined"
                                                                                                           style="padding-right: 10px">Upload</span>My Uploads</a></li>
                                <li><a class="dropdown-item py-2 d-flex align-items-center" href="{% url 'myapp:login_history' %}"><span class="material-symbols-outlined"
                                                                                                           style="padding-right: 10px">History</span>Login History</a></li>
                                <li><a class="dropdown-item py-2 d-flex align-items-center" href="{% url 'myapp:search' %}"><span class="material-symbols-outlined"
                                                                                                           style="padding-right: 10px">search</span>Search</a></li>
                                <li><a class="dropdown-item py-2 d-flex align-items-center" href="{% url 'myapp:password_reset' %}"><span class="material-symbols-outlined"
                                                                                                           style="padding-right: 10px">lock_reset</span>Reset Password</a></li>
                                <li><a class="dropdown-item py-2 d-flex align-items-center" href="{% url 'myapp:logout' %}"><span class="material-symbols-outlined"
                                                                                                           style="padding-right: 10px">Logout</span>SignOut</a></li>
                            </ul>
                        </div>
                    {% endif %}
    {#                <div class="profile-pic-container btn-success  dropdown me-2">#}
    {#                    <img src="{% static 'login.png' %}" style="width: 40px; height: 40px" alt="Profile" class=" profile-pic dropdown-toggle" id="navDropdown1"#}
    {#                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
    {#                        <div class="dropdown-menu profile-dropdown" aria-labelledby="navDropdown1" role="menu">#}
    {#                    <ul class="p-0 m-0">#}
    {#                      <li><a class="dropdown-item py-2 d-flex align-items-center" href='#'><span#}
    {#                            class="material-symbols-outlined">#}
    {#                            person#}
    {#                          </span>Update Profile</a></li>#}
    {#                      <li><a class="dropdown-item py-2 d-flex align-items-center" href='#'>My Listings</a></li>#}
    {#                      <li><a class="dropdown-item py-2 d-flex align-items-center" href='#'><span#}
    {#                            class="material-symbols-outlined">#}
    {#                            search#}
    {#                          </span>Request an Item</a></li>#}
    {#                      <li><a class="dropdown-item py-2 d-flex align-items-center" href='#'>#}
    {#                          <span class="material-symbols-outlined">#}
    {#                            history#}
    {#                          </span>My Login History</a></li>#}
    {#                      <li><a class="dropdown-item py-2 d-flex align-items-center" href='#'>#}
    {#                          <span class="material-symbols-outlined">#}
    {#                            history#}
    {#                          </span>Change Password</a></li>#}
    {#                      <li><a class="dropdown-item py-2 d-flex align-items-center" href='#'>#}
    {#                          <span class="material-symbols-outlined">#}
    {#                            palette#}
    {#                          </span>Change Theme</a></li>#}
    {#                      <li><a class="dropdown-item py-2 d-flex align-items-center" href='#'>#}
    {#                          <span class="material-symbols-outlined">#}
    {#                            logout#}
    {#                          </span>Sign Out</a></li>#}
    {#                    </ul>#}
                </div>

{#                {% endif %}#}
        </div>
    </div>


    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
            <a href="{% url 'myapp:home' %}" class="btn btn-custom w-100 {% if request.path == "" %}active{% endif %}">
                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Home</button></a>

            <a href="#" class="btn btn-custom w-100 {% if request.path == "#" %}active{% endif %}">
                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Events</button></a>

            <a href="{% url 'myapp:home' %}#trending-section" class="btn btn-custom w-100">
                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Trending</button></a>

            <a href="{% url 'myapp:view_pages' %}" class="btn btn-custom w-100">
                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Contribute</button></a>
            <a href="{% url 'myapp:search' %}" class="btn btn-custom w-100">
                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Search</button></a>
            <a href="{% url 'myapp:login' %}" class="btn btn-custom w-100">
                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Login/Register</button></a>
            <a href="#" class="btn btn-custom w-100">
                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center " value="Done">Feed</button></a>
            <a href="{% url 'myapp:tedplay' %}" class="btn btn-custom w-100">
                <button type="submit" style="width: 100%;" class="btn transparent-btn align-center "
                        value="Done">Know more about Sustainability</button></a>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('.offcanvas-body .btn-custom');

    links.forEach(link => {
        link.addEventListener('click', function() {
            links.forEach(l => l.classList.remove('active'));
            this.classList.add('active');
        });
    });
});
</script>



{% block body_block %}
{#    <div class="row">#}
{#  <div class="col-sm-4">.col-sm-4</div>#}
{#        <div class="col-sm-8">.col-sm-8</div>#}
{#</div>#}


{% endblock %}

<footer>
        <div class="footer-content">
            <p style="padding-left: 10px">&copy; 2024 EnviroChat. All rights reserved.</p>
            <p style="align-content: center"><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
            <div class="footer-links">
                <a href="{% url 'myapp:aboutus' %}">About Us</a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="{% static 'instagram-logo.png' %}" alt="Instagram" />
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="{% static 'linkedIn-logo.png' %}" alt="LinkedIn" />
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="{% static 'twitter-logo.png' %}" alt="X.com" />
                </a>
                <a style="padding-right: 10px" href="https://www.facebook.com" target="_blank">
                    <img src="{% static 'facebook-logo.png' %}" alt="Facebook" />
                </a>

            </div>
        </div>

    </footer>
</html>