{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block body_block %}
<div class="container mt-5">
    <h2 class="heading-title"><center>You have logged out successfully</center></h2>
    <h2 class="heading-title"><center>Thank You</center></h2>
    {% if messages %}
        <ul class="mt-3">
            {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}