<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>EnviroChat-Home</title>
    <h1>EnviroChat</h1>
    <p>Sharing Ideas for Shaping a Sustainable Future</p>
</head>

{% extends 'base.html'%}

{% block body_block %}
    <div class="container">
    <h2>Welcome to EnviroChat</h2>
    <blockquote>
        "In the face of impending catastrophe, whose warning signs are already unbearably disastrous,
        weak action is unwise. No action is dangerous." <br>
        — William Ruto, President of Kenya
    </blockquote>

    <h4></h4>


{% endblock %}
</div>



