<!-- templates/myapp/password_reset_confirm.html -->
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% translate 'Password reset confirmation' %}</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>{% translate 'Password reset confirmation' %}</h2>
        <p>{% translate 'Please enter your new password twice to confirm it:' %}</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% translate 'Change my password' %}</button>
        </form>
    </div>
</body>
</html>
